include dash_google_picker/dash_google_picker.min.js
include dash_google_picker/dash_google_picker.min.js.map
include dash_google_picker/async-*.js
include dash_google_picker/async-*.js.map
include dash_google_picker/*-shared.js
include dash_google_picker/*-shared.js.map
include dash_google_picker/metadata.json
include dash_google_picker/package-info.json
include README.md
include LICENSE
include package.json
